body{
    font-family: 'Pacifico', cursive;
    background-color: #8A2BE2;
    margin-top: 12.5%;
}

.container{
    background-color:rgb(188, 173, 230);    
    margin-left: 5%;
    margin-right: 5%;
}

h1{
    text-align: center;
}
form {
    text-align: center;
    padding: 5%;
}

#question, #answer{
    height: 50px;
    width: 250px;
    text-align: center;
}

button {
    color: white;
    background-color: #8A2BE2;
}

.button:hover{
    color:#8A2BE2;
    background-color: white;
}
